<!--
@package:
@Author:旁观者
@Date:2022/2/14-19:34
@FileName:index.html
@By:IntelliJ IDEA
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template::head('校园管理系统-首页')">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header th:replace="/common/template::top-menu"></header>
        <aside th:replace="/common/template::left-menu"></aside>
        <section class="content-wrapper"></section>
    </div>
</body>
</html>