<!--
@package:
@Author:旁观者
@Date:2022/2/21-10:39
@By:IntelliJ IDEA
@FileName:dictManage.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template::head('校园管理系统-字典管理')">
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <section class="content-wrapper">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">字典管理</span>
                </div>
                <div class="card-body">

                    <div class="btn-group mb-3">
                        <div id="dict-search" class="mr-3"></div>
<!--                        <input class="mr-3 rounded" type="text" name="search" />-->
<!--                        <input class="btn btn-primary" type="button" value="查询" />-->
                        <button id="new-dict" class="btn btn-primary" data-toggle="modal"
                                data-target="#add-dict-modal"
                                onclick="$('input#dict-updateTime').val(getNowTime());$('form#dict-form #submit-dict').attr('value','insert');">新增</button>
                        <button id="edit-dict" class="btn btn-primary" onclick="$('form#dict-form #submit-dict').attr('value','edit');initEditForm('dict-form','add-dict-modal','dict-table');">编辑</button>
                        <button id="def-dict" class="btn btn-primary" onclick="delDict()">删除</button>
                        <button class="btn btn-primary refresh-btn" onclick="reloadJqGrid('dict-table')">刷新</button>
                    </div>
                    <table class="table table-bordered" id="dict-table">
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                    <div id="pager"></div>
                </div>
                <div class="modal fade" id="add-dict-modal" tabindex="-1" role="dialog" aria-labelledby="add-dict-modal-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="add-dict-modal-label">添加字典</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <form id="dict-form" class="form-horizontal" th:action="@{/systemSetting/editDict}" method="post">
                                <div class="modal-body">
                                    <div class="form-group d-none">
                                        <div class="input-group">
                                            <label for="dict-id" class="mr-3">字典编号：</label>
                                            <input id="dict-id" name="id" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="dict-name" class="mr-3">字典名称：</label>
                                            <input id="dict-name" name="name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="dict-type" class="mr-3">字典类型：</label>
                                            <input id="dict-type" name="type" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="dict-code" class="mr-3">字典码：</label>
                                            <input id="dict-code" name="code" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="dict-value" class="mr-3">字典值：</label>
                                            <input id="dict-value" name="value" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="dict-status" class="mr-3">字典状态：</label>
                                            <input id="dict-status" name="status" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearForm('dict-form')">关闭</button>
                                    <button id="submit-dict" type="button" class="btn btn-primary" value="" onclick="editDict('dict-form',$(this).attr('value'))" th:text="提交"/>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </section>
    </div>
    <script>
        $().ready(function (){
            pageInit();
            searchInit();
        })

        function pageInit() {
            let dictTable = $("#dict-table");
            $(dictTable).jqGrid({
                url:"/web_server/systemSetting/getDicts",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                mtype: "post",
                rowNum: 10,
                rowList: [10, 15, 25],//分页属性
                multiselect: true,
                cellEdit:true,
                editurl: '/web_server/systemSetting/editDict',
                styleUI: 'Bootstrap',
                pager : '#pager',
                page:$(dictTable).getGridParam("page"),
                rows:$(dictTable).getGridParam('rows'),
                sortname : 'id',
                sortorder : "desc",
                shrinkToFit:true,
                autowidth:true,
                autoencode: true,
                gridview: true,
                emptyrecords: "没有数据",
                viewrecords: true,//定义是否要显示总记录数
                caption:"字典管理",
                colNames:["Id","字典名称","字典类型","字典码","字典值","字典状态","最后更新时间"],
                colModel:[
                    {name:'id',index:'id', width:55,editable:false},
                    {name:'name',index: 'name',with :80},
                    {name:'type',index:'type',width: 80},
                    {name:'code',index:'code',width: 80},
                    {name: 'value',index: 'value',width:100},
                    {name: 'status',index: 'id',width: 50},
                    {name: 'updateTime',index: 'updateTime',width: 100,editable:false,
                        formatter: formatTimestappmp,
                        editoptions:{
                            dataInit:function (e){
                                $(e).datepicker({
                                    autoclose:true,
                                    format:'yyyy-mm-dd',
                                    minView:2,
                                    language:'zh-CN',
                                    todayBtn:true
                                });

                                $(this).click(function(e){
                                    $(e).parent().datepicker('hide');
                                });
                            }
                        }
                    }
                ],
                jsonReader:{
                    root : "formList", // json中代表实际模型数据的入口
                    records : "records", // json中代表数据行总数的数据
                    page : "page", // json中代表当前页码的数据
                    total : "total", // json中代表页码总数的数据
                    repeatitems : false
                },
                gridComplete:function(){
                    if ($("table#dict-table").jqGrid("getGridParam","records") == 0){

                    }
                },
                loadComplete: function(xhr){

                },
                loadError:function(xhr,status,error){
                    alert("请求数据"+xhr.readyState+" "+status+" "+error);
                }
            }).navGrid('#pager', {
                edit : false,add : false ,del : false,search:false,ref:false
            });
        }

        function searchInit(){
            let dictSearch = $("#dict-search");
            $(dictSearch).jqGrid('filterGrid','#dict-table',{
                gridModel:false,
                filterModel : [{
                    label : '查询',
                    name: 'searchVal',
                    stype: 'text'
                }],
                // formtype:'vertical',
                autosearch:false,
                formclass:'form-horizontal',
                buttonclass:"btn btn-primary",
                searchButton:'Search',
                // clearButton:"重置",
                url:"/web_server/systemSetting/searchDict"
            });
        }

    </script>

    <script th:src="@{/static/js/validate/dict_validate.js}"></script>
</body>
</html>