<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpc.module2.mapper.ArchiveMapper">
  <resultMap id="BaseResultMap" type="Archive">
    <!--@mbg.generated-->
    <!--@Table archive-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="politic" jdbcType="VARCHAR" property="politic" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age, sex, `type`, politic, nation
  </sql>

</mapper>