<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpc.module2.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="Menu">
    <!--@mbg.generated-->
    <!--@Table menu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, parent_id, `level`, url, menu_code, icon_url
  </sql>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from menu m,role_menu rm,role_user ru
    where m.id=rm.menu_id AND rm.role_id = ru.role_id AND ru.user_id = #{userId,jdbcType=VARCHAR};
  </select>

</mapper>