<!--
@package:
@Author:旁观者
@Date:2022/2/14-22:06
@By:IntelliJ IDEA
@FileName:login.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template::head('校园管理系统-用户登录')">
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
<!--    <div th:replace="/common/template::top-menu"></div>-->
<!--    顶部导航栏-->
    <header class="main-header navbar navbar-expand-md navbar-light navbar-white ml-0" th:include="/common/template::top-menu"></header>

    <section class="content-wrapper ml-0">
        <div class="row">
            <div class="col-md-7 offset-1">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">注意事项</h3>
                    </div>
                    <div class="card-body">
                        <p>学生使用学号登录；教职工使用工号登录；</p>
                        <p>初始密码为学/工号，登录后请及时修改密码！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title mx-auto">用户登录</span>
                    </div>
                    <form id="loginForm" th:action="@{/user/check}" class="form-horizontal" method="post">
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text"  class="form-control" name="userId" placeholder="请输入用户名" />
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password"  class="form-control" name="password" placeholder="请输入密码" />
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group row m-0">
<!--                                    <label for="randomCodeInput" class="col-sm-2 col-form-label">验证码：</label>-->
                                    <div class="input-group-prepend col-sm-2 mr-2">
<!--                                        <span class="input-group-text">-->
                                            <img id="randomImage" th:src="@{/user/getRandomCodeImg}" onMouseOver="this.style.cursor='hand';" onclick="refreshRandomImage()" alt="点击刷新验证码" title="点击刷新验证码">
<!--                                        </span>-->
                                    </div>
                                    <input id="randomCodeInput" name="randomCode" type="text" class="form-control col-sm-10" placeholder="请输入验证码">
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="loginBtn" type="submit" class="btn btn-outline-primary btn-block">登录</button>
                            </div>
                            <div th:if="${param.errMsg}" th:class="form-group">
                                <div class="alert alert-danger" role="alert" th:text="${param.errMsg}">

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-md-2 col-sm-4">
                                    <a href="#" class="item-link">快速注册</a>
                                </div>
                                <div class="col-md-2 col-sm-4 offset-8">
                                    <a href="#" class="item-link">忘记密码</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
</body>
</html>