<!--
@package:
@Author:旁观者
@Date:2022/2/14-22:07
@By:IntelliJ IDEA
@FileName:personalInfo.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template::head('校园管理系统-用户中心')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <!--    顶部导航栏-->
    <header class="main-header navbar navbar-expand-md navbar-light navbar-white ml-0" th:include="/common/template::top-menu"></header>

    <section class="content-wrapper ml-0">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <span class="card-title">个人中心</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5 col-sm-3">
                        <div id="personal-tab" class="nav flex-column nav-tabs h-100" role="tablist" aria-orientation="vertical">
                            <a href="#user-info" class="nav-link active" id="user-info-tab" data-toggle="pill" aria-controls="user-info" role="tab" aria-selected="true">账户信息</a>
                            <a href="#archive-info" class="nav-link" id="archive-info-tab" data-toggle="pill"aria-controls="archive-info"  role="tab" aria-selected="true">档案信息</a>
                            <a href="#contact" class="nav-link" id="contact-tab" data-toggle="pill"aria-controls="contact"  role="tab" aria-selected="true">联系方式</a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <div id="person-content" class="tab-content">
                            <div id="user-info" class="tab-pane text-left fade active show" role="tabpanel" aria-labelledby="user-info-tab">
                                <ul id ="userInfo" class="list-group collapse show multi-collapse">
                                    <li class="list-group-item">
                                        <img th:src="@{'/static/img/userImg/'+${session.user.imgUrl}}" alt="头像" width="100px" height="100px"/>
                                        <span th:text="${session.user.name}"></span>
                                    </li>
                                    <li class="list-group-item"><span>账户Id</span><span class="float-right" th:text="${session.user.id}"></span></li>
                                    <li class="list-group-item"><span>账户昵称</span><span class="float-right" th:text="${session.user.name}"></span></li>
                                    <li class="list-group-item"><span>创建时间</span><span class="float-right" th:text="${#dates.format(session.user.createTime,'yyyy-MM-dd')}+ '  ' +${#dates.format(user.createTime,'hh:mm:ss')}"></span></li>
                                    <li class="list-group-item"><span>账户状态</span><span class="float-right" th:text="${session.user.status}"></span></li>
                                    <li class="list-group-item"><a class="btn btn-primary" role="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false">修改账户信息</a></li>
                                </ul>
                                <form id="updateUserForm" th:action="@{/user/updateUser}" method="post" class="form-horizontal multi-collapse collapse" novalidate="novalidate">
                                    <div class="form-group">
                                        <img th:src="@{'/static/img/userImg/'+${session.user.imgUrl}}" alt="头像" width="100px" height="100px"/>
                                        <span th:text="${session.user.name}"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="userIdInput">账户Id：</label>
                                            <input id="userIdInput" name="id" type="text" class="form-control" th:value="${session.user.id}" readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="userNameInput">账户昵称：</label>
                                            <input id="userNameInput" name="name" type="text" class="form-control" th:value="${session.user.name}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="createTimeInput">创建时间：</label>
                                            <input id="createTimeInput" name="createTime" type="datetime-local" class="form-control" th:value="${#dates.format(session.user.createTime,'yyyy-MM-dd')}+'T' +${#dates.format(user.createTime,'hh:mm:ss')}" readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="statusInput">账户状态：</label>
                                            <input id="statusInput" name="status" type="text" class="form-control" th:value="${session.user.status}" readonly="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="updateUserBtn" type="submit" class="btn btn-primary">修改</button>
                                        <button type="button" data-toggle="collapse" data-target=".multi-collapse" class="btn btn-primary" aria-expanded="false">取消</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="archive-info" role="tabpanel" aria-labelledby="archive-info-tab">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span>学/工号</span><span class="float-right" th:text="${session.archive.id}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>姓名</span><span class="float-right" th:text="${session.archive.name}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>年龄</span><span class="float-right" th:text="${session.archive.age}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>性别</span><span class="float-right" th:text="${session.archive.sex}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>类型</span><span class="float-right" th:text="${session.archive.type}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>政治面貌</span><span class="float-right" th:text="${session.archive.politic}"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <span>民族</span><span class="float-right" th:text="${session.archive.nation}"></span>
                                    </li>
                                </ul>
                            </div>
                            <div id="contact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--    <div class="row pl-3">-->
<!--        <div class="col-md-2 nav flex-column nav-pills border" role="tablist" aria-orientation="vertical">-->
<!--            <a id="accountInfoTab" href="#accountInfo" class="nav-link" data-toggle="pill" role="tab" aria-controls="accountInfo" aria-selected="true">账户信息</a>-->
<!--            <a id="archiveInfoTab" href="#archiveInfo" class="nav-link" data-toggle="pill" role="tab" aria-controls="archiveInfo" aria-selected="false">档案信息</a>-->
<!--        </div>-->
<!--        <div class="col-md-10">-->
<!--            <div class="tab-content border">-->
<!--                <div class="tab-pane fade show active" id="accountInfo" role="tabpanel" aria-labelledby="accountInfoTab">-->
<!--                    <ul id ="userInfo" class="list-group collapse show multi-collapse">-->
<!--                        <li class="list-group-item"><span>账户Id</span><span class="float-right" th:text="${user.id}"></span></li>-->
<!--                        <li class="list-group-item"><span>账户昵称</span><span class="float-right" th:text="${user.name}"></span></li>-->
<!--                        <li class="list-group-item"><span>创建时间</span><span class="float-right" th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}+ '  ' +${#dates.format(user.createTime,'hh:mm:ss')}"></span></li>-->
<!--                        <li class="list-group-item"><span>账户状态</span><span class="float-right" th:text="${user.status}"></span></li>-->
<!--                        <li class="list-group-item"><a class="btn btn-primary" role="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false">修改账户信息</a></li>-->
<!--                    </ul>-->
<!--                    <form id="updateUserForm" th:action="@{/user/updateUser}" method="post" class="form-horizontal multi-collapse collapse" novalidate="novalidate">-->
<!--                        <div class="form-group">-->
<!--                            <div class="input-group">-->
<!--                                <label for="userIdInput">账户Id：</label>-->
<!--                                <input id="userIdInput" name="id" type="text" class="form-control" th:value="${user.id}" readonly="true">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <div class="input-group">-->
<!--                                <label for="userNameInput">账户昵称：</label>-->
<!--                                <input id="userNameInput" name="name" type="text" class="form-control" th:value="${user.name}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <div class="input-group">-->
<!--                                <label for="createTimeInput">创建时间：</label>-->
<!--                                <input id="createTimeInput" name="createTime" type="datetime-local" class="form-control" th:value="${#dates.format(user.createTime,'yyyy-MM-dd')}+'T' +${#dates.format(user.createTime,'hh:mm:ss')}" readonly="true">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <div class="input-group">-->
<!--                                <label for="statusInput">账户状态：</label>-->
<!--                                <input id="statusInput" name="status" type="text" class="form-control" th:value="${user.status}" readonly="true">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <button id="updateUserBtn" type="submit" class="btn btn-primary">修改</button>-->
<!--                            <button type="button" data-toggle="collapse" data-target=".multi-collapse" class="btn btn-primary" aria-expanded="false">取消</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div id="archiveInfo" class="tab-pane fade border" role="tabpanel" aria-labelledby="archiveInfoTab">-->
<!--                    <ul class="list-group">-->
<!--                        <li class="list-group-item">-->
<!--                            <span>学/工号</span><span class="float-right" th:text="${archive.id}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>姓名</span><span class="float-right" th:text="${archive.name}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>年龄</span><span class="float-right" th:text="${archive.age}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>性别</span><span class="float-right" th:text="${archive.sex}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>类型</span><span class="float-right" th:text="${archive.type}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>政治面貌</span><span class="float-right" th:text="${archive.politic}"></span>-->
<!--                        </li>-->
<!--                        <li class="list-group-item">-->
<!--                            <span>民族</span><span class="float-right" th:text="${archive.nation}"></span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<!--    <div class="container ui fluid">-->
<!--        <div th:replace="/common/template::top-menu"></div>-->

<!--        <div class="ui menu vertical">-->
<!--            <div class="item">账户信息</div>-->
<!--            <div class="item">档案信息</div>-->
<!--        </div>-->

<!--        <div class="ui bottom attached segment pushable">-->
<!--            <div class="ui visible inverted left vertical sidebar menu">-->
<!--                <a class="item">账户信息</a>-->
<!--                <a class="item">档案信息</a>-->
<!--            </div>-->
<!--            <div class="pusher">-->
<!--                <div class="ui basic segment">-->
<!--                    <div id="userInfo" class="ui items" >-->
<!--                        <div class="item ui">-->
<!--                            <span>用户名</span>-->
<!--                            <span class="right" th:text="${user.id}"></span>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <span>账户昵称</span><span class="right" th:text="${user.name}"></span>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <span>创建时间</span><span class="right" th:text="${user.createTime}"></span>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <span>账户状态</span><span class="right" th:text="${user.status}"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="ui basic segment">-->
<!--                    <div id="archiveInfo" class="ui items">-->
<!--                        <div class="item"><span>学/工号</span><span class="right" th:text="${archive.id}"></span></div>-->
<!--                        <div class="item"><span>姓名</span><span class="right" th:text="${archive.name}"></span></div>-->
<!--                        <div class="item"><span>年龄</span><span class="right" th:text="${archive.age}"></span></div>-->
<!--                        <div class="item"><span>性别</span><span class="right" th:text="${archive.sex}"></span></div>-->
<!--                        <div class="item"><span>类别</span><span class="right" th:text="${archive.type}"></span></div>-->
<!--                        <div class="item"><span>政治面貌</span><span class="right" th:text="${archive.politic}"></span></div>-->
<!--                        <div class="item"><span>民族</span><span class="right" th:text="${archive.nation}"></span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="ui grid">-->
<!--            <div class="fourteen middle wide column">-->
<!--                <div class="ui top attached tabular menu">-->
<!--                    <a class="item active" data-tab="userInfo">账户信息</a>-->
<!--                    <a class="item" data-tab="archiveInfo">档案信息</a>-->
<!--                </div>-->
<!--                <div class="ui bottom attached tab segment active" data-tab="userInfo">-->
<!--                -->
<!--                </div>-->
<!--                <div class="ui bottom attached tab segment" data-tab="archiveInfo">-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>