<!--
@package:
@Author:旁观者
@Date:2022/3/22-11:55
@By:IntelliJ IDEA
@FileName:welcome.html
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template::head('校园管理系统-首页')">
    <title>Title</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">项目介绍</h3>
            </div>
            <div class="card-body">
                <p>
                    本系统使用Java语言开发，使用了spring,spring mvc,mybatis框架搭建后台，web页面使用adminlte框架搭建，
                    使用了jqgrid插件，服务器端使用MySQL数据库存储数据。
                </p>
            </div>
        </div>
    </div>
</body>
</html>