<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpc.demo3.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
<!--    <result column="pass" jdbcType="VARCHAR" property="pass" />-->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `id`, `name`, img_url ,`create_time`, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert">
    <!--@mbg.generated-->
    insert into `user` (id, `name`, img_url ,pass,
      create_time, `status`)
    values (#{record.id,jdbcType=VARCHAR}, #{record.name,jdbcType=VARCHAR}, #{record.imgUrl,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR},
      #{record.createTime,jdbcType=TIMESTAMP}, #{record.status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="User">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        id,
      </if>
      <if test="record.name != null">
        `name`,
      </if>
      <if test="record.imgUrl != null">
        img_url,
      </if>
      <if test="pass != null">
        pass,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.id != null">
        #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        #{record.status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{record.id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="User">
    <!--@mbg.generated-->
    update `user`
    set `name` = #{record.name,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      `status` = #{record.status,jdbcType=VARCHAR}
    where id = #{record.id,jdbcType=VARCHAR}
  </update>

  <select id="ifNullByPrimaryKey" resultType="int">
    select
    ifnull((
    select 1
    from `user`
    where id = #{id,jdbcType=VARCHAR})
    ,0)
  </select>

  <select id="ifNullByPrimaryKeyAndPass" resultType="int">
    select
    ifnull((
    select 1
    from `user`
    where id=#{id,jdbcType=VARCHAR}
    AND pass = #{pass,jdbcType=VARCHAR}),
    0)
  </select>

<!--auto generated by MybatisCodeHelper on 2021-11-10-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
    </select>

  <update id="updatePassByIdAndOldPass" parameterType="String" >
    update `user`
    set `pass` = #{newPass,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=VARCHAR}
    AND `pass` = #{oldPass,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-11-->
  <update id="updateNameById">
        update `user`
        set `name`=#{updatedName,jdbcType=VARCHAR}
        where id=#{id,jdbcType=VARCHAR}
    </update>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    limit #{begin,jdbcType=INTEGER} ,#{size,jdbcType=INTEGER}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(`id`)
    from user
  </select>
</mapper>