<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       default-lazy-init="true">

    <context:property-placeholder location="classpath:properties/config.properties" />

    <bean id="userClientImpl" class="com.lpc.client.impl.UserClientImpl">
        <constructor-arg name="host" value="${HOST}"/>
        <constructor-arg name="port" value="${PORT}" />
    </bean>

    <bean class="com.lpc.client.impl.AuthorityClientImpl" id="authorityClientImpl">
        <constructor-arg name="host" value="${HOST}"/>
        <constructor-arg name="port" value="${PORT}" />
    </bean>

    <bean id="currentImpl" class="com.lpc.config.impl.CurrentImpl" ></bean>

    <bean id="loginWindowImpl" class="com.lpc.ui.swing.impl.LoginWindowImpl" ></bean>

    <bean id="personInfoPanelImpl" class="com.lpc.ui.swing.impl.PersonInfoPanelImpl"></bean>

    <bean id="dictPanelImpl" class="com.lpc.ui.swing.impl.DictPanelImpl"></bean>

    <bean id="updatePassPanelImpl" class="com.lpc.ui.swing.impl.UpdatePassPanelImpl"></bean>

    <bean id="mainWindowImpl" class="com.lpc.ui.swing.impl.MainWindowImpl"></bean>

    <!-- more bean definitions go here -->

</beans>